.container {
  width: 1000px;
  margin: auto ;
}

.satu {
  width: 200px;
  height: 200px;
  border: solid;
  background-color: green;
  margin-left: 250px;
  margin-top: 100px;
  box-shadow: 35px 35px black;
  border-image: url(../BAHAN/hearts.png);
  border-image-repeat: round;
  border-image-width: 20px;
  border-image-slice: 20 22;
  border-image-outset: 20px;
}

.dua {
  width: 200px;
  height: 200px;
  border: solid;
  background-color: blue;
  margin-left: 250px;
  margin-top: 50px;
  box-shadow: 10px 10px 25px black;
  border-image: url(../BAHAN/border1.png);
  border-image-repeat: round;
  border-image-width: 20%;
  border-image-slice: 35%;

}
